[submodule "lib/mem-pool"]
	path = lib/mem-pool
	url = https://github.com/Isty001/mem-pool
[submodule "lib/dev"]
	path = lib/dev
	url = https://github.com/rogue-craft/dev-tools
[submodule "lib/collection"]
	path = lib/collection
	url = https://github.com/rogue-craft/collection
[submodule "lib/parson"]
	path = lib/parson
	url = https://github.com/kgabis/parson
[submodule "lib/tinydir"]
	path = lib/tinydir
	url = https://github.com/cxong/tinydir
[submodule "lib/dotenv"]
	path = lib/dotenv
	url = https://github.com/Isty001/dotenv-c
[submodule "resources"]
	path = resources
	url = https://github.com/rogue-craft/resources
[submodule "lib/rimraf.c"]
	path = lib/rimraf.c
	url = https://github.com/stephenmathieson/rimraf.c
[submodule "lib/notifier"]
	path = lib/notifier
	url = https://github.com/rogue-craft/notifier
[submodule "lib/cursed_tools"]
	path = lib/cursed_tools
	url = https://github.com/rogue-craft/cursed-tools
